	<!-- Content
	================================================== -->
	<div id="content" class="container">
		<div class="hero-unit faq">
			<div class="ac">
				<h1>Android Development Tutorial</h1>
				<p>If you are totally new to Android, <b>Android Concept Lessons</b> is a good start point. But the real Android development learning happens by building real apps. Check <b>Android App Tutorials</b> section for that.</p>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<div class="ac">
					<h2>Android Concept Lessons</h2>
					<input type="text" value="" placeholder="Search ..." />
					<a type="" class="search_button btn btn-success" style="padding: 4px 12px;margin-left:-10px;"><i class="icon-search icon-white"></i></a>	
				</div>
				<ol>
					<li>
						<h3><a href="/android-tutorial/how-to">How to add a concept lesson</a></h3>
						<p>A quick how-to add a concept lesson. You need to edit this file (app/views/concept_lessons/index.html.erb) by adding another set of 'li' & link to the new lesson.</p>
					</li>
					<li>
						<h3><a href="/android-tutorial/android-introduction">Android Introduction</a></h3>
						<p>First time with Android ? Check this lesson to know the basic building blocks of Android application bla bla</p>
					</li>

					<li>
						<h3><a href="/android-tutorial/android-hello-world">Android Hello World</a></h3>
						<p>Let's Create our First Hello World android app and understand the concepts, folder structure and different tools</p>
					</li>
					<li>
						<h3><a href="">Hello World</a></h3>
						<p>First time with Android ? Check this lesson to know the basic building blocks of Android application bla bla</p>
					</li>
					<li>
						<h3><a href="/android-tutorial/android-layouts">Layouts/Viewgroups</a></h3>
						<p>First time with Android ? Check this lesson to know the basic building blocks of Android application bla bla</p>
					</li>

				</ol>
			</div>
			<div class="span1"></div>
			<div class="span5">
				<div class="ac">
					<h2>Android App Tutorial</h2>
				</div>
				<div class="well">
					<ul>
						<li>Learn Android Concept implementation in a real app.</li>
						<li>Step by step building the app.</li>
						<li>Bugs or Features as exercise.</li>
						<li>Build in real environment on your PC.</li>
						<li>Automated hint/help when you do it wrong.</li>
					</ul>
				</div>
				<div class="ac">
					<button class="btn btn-large btn-success btn-block">
						<h4>Learn Android by building a twitter client<br/>
							<small style="color:inherit; font-size:85%;">First 2 hours of content free</small></h4>
					</button>
					<button class="btn btn-large btn-block" disabled="disabled">
						<h4>Learn to build an Instagram Android app<br/>
							<small style="color:inherit; font-size:85%;">Coming soon</small></h4>
					</button>

				</div>
			</div>

		</div>




		<h3 class="no-results hidden well">No results matching your search.</h3>
		<br /><br /><br />

	</div>

</div>

</body>
</html>
