<%= stylesheet_link_tag "docs" %>
<link href="http://getbootstrap.com/docs-assets/css/pygments-manni.css" rel="stylesheet">

<div class="container bs-docs-container">
	<div class="row">
		<div class="span3">
			<div role="complementary" class="bs-sidebar hidden-print affix-top">
				<ul class="nav bs-sidenav" style="background-color:#F6F6F6">
					<!-- to be filled 
					<li class="active"><a href="#history">History</a></li> -->
				</ul>
			</div>
		</div>
		<div role="main" class="span9">
			<!-- History
			==================================================
				<div class="page-header">
					<h1 id="history">History</h1>
				</div>
				<p class="lead">Originally created by a designer and a developer at Twitter, Bootstrap has become one of the most popular front-end frameworks and open source projects in the world.</p>
				<p>Bootstrap was created at Twitter in mid-2010 by <a href="https://twitter.com/mdo">@mdo</a> and <a href="https://twitter.com/fat">@fat</a>. Prior to being an open-sourced framework, Bootstrap was known as <em>Twitter Blueprint</em>. A few months into development, Twitter held its <a href="https://blog.twitter.com/2010/hack-week">first Hack Week</a> and the project exploded as developers of all skill levels jumped in without any external guidance. It served as the style guide for internal tools development at the company for over a year before its public release, and continues to do so today.</p>
				<p>Originally <a href="https://dev.twitter.com/blog/bootstrap-twitter">released</a> on <a href="https://twitter.com/mdo/statuses/104620039650557952"><time datetime="2011-08-19 11:25">Friday, August 19, 2011</time></a>, we've since had over <a href="https://github.com/twbs/bootstrap/releases">twenty releases</a>, including two major rewrites with v2 and v3. With Bootstrap 2, we added responsive functionality to the entire framework as an optional stylesheet. Building on that with Bootstrap 3, we rewrote the library once more to make it responsive by default with a mobile first approach.</p>
				-->
				<%=  render :partial => @template %>	

		</div>
	</div>

</div>

<script>
	$("h1").each(function(){
		id = $(this).html().replace(/\W+/g,"-")
		$(this).replaceWith('<div class="page-header"><h1 id="' + id + '">' + $(this).html() + '</h1></div>')
	}) 

	$("h2").each(function(){
		id = $(this).html().replace(/\W+/g,"-")
		$("ul.nav.bs-sidenav").append('<li><a href="#' + id + '">' + $(this).html() + '</a></li>')
		$(this).replaceWith('<div class="page-header"><h2 id="' + id + '">' + $(this).html() + '</h2></div>')
	}) 

	$("blockquote").each(function(){
		$(this).replaceWith('<div class="alert alert-warning">' + $(this).text() + "</div>")
	})
</script>
