<div class="container">
	<div class="hero-unit faq">
		<div class="ac">
			<h1>Android Development Tutorial</h1>
			<p>HELO If you are totally new to Android, <b>Android Concept Lessons</b> is a good start point. But the real Android development learning happens by building real apps. Check <b>Android App Tutorials</b> section for that.</p>
		</div>
	</div>
</div>
